<div class="row episode-row">
    <div class="col-md-12">
        <a href="{{ .Permalink }}">
            <h4>{{ .Render "titles/aggregatedListTitle" }}</h4>
        </a>
        {{ .Render "listItems/components/publishView" }}
        <div class="row">
            {{ .Render "listItems/components/artView" }}
            <div class="col-md-8">
                {{ .Render "listItems/components/episodeDetails" }}
            </div>
        </div>
        {{ .Render "audio/audioPlayer" }}
    </div>
</div>