<div class="row episode-row">
    <div class="col-md-12">
        <div class="row">
            {{ .Render "listItems/components/smallArtView" }}
            <div class="col-8">
                <a href="{{ .Permalink }}">
                    <h6>{{ .Render "titles/masterListTitle" }}</h6>
                </a>
                {{ .Render "listItems/components/publishView" }}
                <div class="host-list-upper-player">{{ .Render "audio/player" }}</div>
            </div>           
        </div>
    </div>
</div>