.DS_Store

# exclude vs code files
/.vscode/*

# exclude build output
/exampleSite/public

.nova/

# ignore pipeline resources during development in favor of manually adding them to theme for release.
/exampleSite/resources/_gen