.DS_Store

# exclude vs code files
/.vscode/*

# exclude Nova files
/.nova/*

# exclude build output
/exampleSite/public

# ignore pipeline resources during development in favor of manually adding them to theme for release.
/exampleSite/resources/_gen