/* padding and spacing variables */
$content-padding-topbottom: 0.5rem;
$content-padding-leftright: 3.0rem;
$content-padding-leftright-wide: 6.0rem;
$content-padding-topbottom-widest: 3.0rem;
$content-padding-leftright-widest: 15%;
$content-padding-leftright-mobile: 0.8rem;

$pagination-padding: 1.0rem;