@import 'colors';
@import 'layout';
@import 'functions';

body {
	background-color: $background-color;
}

div#content {
	padding: $content-padding-topbottom $content-padding-leftright;
	a {
		color: $links;
		&:hover {
			color: $links-hover;
		}
		&:active {
			color: $links-active;
		}
	}
}

ul .pagination {
	li {
		padding: $pagination-padding;
	}
	padding: $pagination-padding;
}