@import 'colors';
@import 'layout';
@import 'functions';

body {
	background-color: $background-color;
}

div.container-md {
	a {
		color: $links;
		&:hover {
			color: $links-hover;
		}
		&:active {
			color: $links-active;
		}
	}
}