@import 'colors';
@import 'layout';

body {
	background-color: $body-bg-color;
}

div#content {
	padding: $content-padding-topbottom $content-padding-leftright;
	a {
		color: $links;
		&:hover {
			color: $links-hover;
		}
		&:active {
			color: $links-active;
		}
	}
}