@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

body {
	background-color: $background-color;
}

.navbar {
	padding: 0.1rem 0 0.1rem 1.5rem;
}

.navbar-expand-sm, .bg-primary, .navbar-dark {
	background-color: $nav-menu-background-color;
	color: $foreground-color;
	a {
		color: $nav-menu-links;
		&:hover {
			color: $nav-menu-links-hover;
		}
	}
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.brand-image {
	border: 0;
	margin-right: 1rem;
	height: 60px;
	width: 60px;
}

.container-md, p.footer_copyright {
	color: $foreground-color;
	a {
		color: $links;
		&:hover {
			color: $links-hover;
		}
		&:active {
			color: $links-active;
		}
	}
}

.container.bottom_container {
	padding-top: 2em;
	padding-bottom: 2em;
}

.row.episode-row {
	padding-bottom: 20px;
    padding-top: 20px;
}

.publishDate {
	padding-bottom: 10pt;
}
	
.art-square-list-item {
	width: 100pt;
	float: left;
	padding: 10pt;
}

.show-art-small {
	width: 100pt;
	float: left;
	padding-left: 10pt;
	padding-right: 10pt;
}
	
.show-art-large, .art-square-list-item, .show-art-small {
	img {
		border-radius: 25px;
	}
}

div.hosted-shows-list {
	padding-bottom: 20px;
}

input.search-form {
  @include placeholder {
	  font-style: $search-form-text-style; 
	  color: $search-form-text-color; 
	  font-weight: $search-form-text-weight;
  }
  display: block;
  margin: 0 auto;
  width: 85%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 2rem;
  font-weight: $search-form-text-weight;
  color: $search-form-text-color;
  background-clip: padding-box;
  background-color: $search-form-background-color;
  border: $search-form-border;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

div.search {
	justify-content: center;
	align-content: center;
	padding-top: 1.2rem;
}

div.search-results {
	padding-top: 2rem;
	ul {
		list-style-type: none;
	}
}

div.search-results-link {
	width: 100%;
	padding: 0.4rem 0 0.1rem 0;
	font-size: 1.5rem;
	font-weight: 800;
}
div.search-results-details {
	width: 100%;
	padding: 0.2rem 0 0.8rem 0;
	font-size: 1.2rem;
}

/* portrait mode smaller than iPhone 8 */
@media (max-width: 374.98px) {
	/* pagination class for hiding page numbers on small devices */
	.pagination-numbers-tiny-be-gone {
  		display: none;
	  }

	  .navbar {
		  padding-left: 0.5rem;
	  }
	  
	.brand-image {
		margin-right: 0.5rem;
		height: 30px;
		width: 30px;
	}
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.brand-image {
		margin-right: 0.5rem;
		height: 40px;
		width: 40px;
	}
	.navbar {
		padding-left: 0.7rem;
	}
	.show-art-large {
		padding-left: 40pt;
		padding-right: 40pt;
		padding-top: 10pt;
		padding-bottom: 10pt;
	}
	.show-art-small {
		width: 100px;
	}

	.host-list-upper-player {
		display: none;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.show-art-small {
	  max-width: 150px;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.host-list-lower-player {
		display: none;
	}
}