
body {
	background-color: $background-color;
}

div {
	.container-md {
		color: $foreground-color;
		a {
			color: $links;
			&:hover {
				color: $links-hover;
			}
			&:active {
				color: $links-active;
			}
		}
	}
	.row.episode-row {
		padding-bottom: 20px;
    		padding-top: 20px;
	}
	.publishDate {
		padding-bottom: 10pt;
	}
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .show-art-large {
	padding-left: 40pt;
	padding-right: 40pt;
	padding-top: 10pt;
	padding-bottom: 10pt;
  }
}