
body {
	background-color: $background-color;
}

div.container-md {
	color: $foreground-color;
	a {
		color: $links;
		&:hover {
			color: $links-hover;
		}
		&:active {
			color: $links-active;
		}
	}
}