// color variables
$background-color:rgb(255, 255, 255);
$foreground-color: black;
$links: rgb(0, 153, 255);
$links-hover: rgb(51, 61, 214);
$links-active: rgb(0, 153, 255);

// $background-color-dark: black;
$background-color-dark: rgb(26, 27, 36);
$foreground-color-dark: rgb(238, 235, 235);
$links-dark: rgb(111, 197, 255);
$links-hover-dark: orange;
$links-active-dark: rgb(111, 197, 255);