// base variables
$font-family: "Helvetica", Arial, serif;
$download-link-margin: 0 0 0 10px;
$download-link-display: block;

// div.audio-player variables
$div-audio-player-position: relative;
$div-audio-player-width: 80%;
$div-audio-player-width-xl: 60%;
$div-audio-player-width-smaller: 90%;
$div-audio-player-width-mobile: 100%;
$div-audio-player-height: 70px;
$div-audio-player-padding: 15px 0 0 0;

// container variables
$container-background: gray;
$container-box-sizing: border-box;
$container-font-family: $font-family;
$container-position: relative;
$container-text-align: left;
$container-text-indent: 0;
$container-vertical-align: top;
$container-border-radius: 30px;

// me-js__controls variables
$controls-background-webkit: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.35));
$controls-background: linear-gradient(transparent, rgba(0, 0, 0, 0.35));
$controls-border-radius: 30px;

// player header variables
$header-background-color: rgb(77, 77, 77);
$header-background-webkit: -webkit-linear-gradient(rgba(0, 0, 0, 0.35), transparent);
$header-background: linear-gradient(rgba(0, 0, 0, 0.35), transparent);
$header-margin-bottom: 15px;
$header-display: flex;
$header-webkit-box: justify;
$header-justify-content: space-between;

// player button variables light mode
$button-text-label-color: rgb(17, 16, 16);

// player button variables dark mode
$button-background-play: transparent url("/audio-player/images/Dark-Play.svg") no-repeat;
$button-background-pause: transparent url("/audio-player/images/Dark-Pause.svg") no-repeat;
$button-background-skip-back: transparent url("/audio-player/images/Dark-Backward.svg") no-repeat;
$button-background-jump-forward: transparent url("/audio-player/images/Dark-Forward.svg") no-repeat;
$button-background-mute: transparent url("/audio-player/images/Dark-Sound.svg") no-repeat;
$button-background-unmute: transparent url("/audio-player/images/Dark-Mute.svg") no-repeat;