.download-link {
	margin: $download-link-margin;
	display: $download-link-display;
}

div.audio-player {
	position: $div-audio-player-position;
	width: $div-audio-player-width;
	height: $div-audio-player-height;
	padding: $div-audio-player-padding;
}

.mejs__container {
	background: $me-js-container-background;
	box-sizing: $me-js-container-box-sizing;
	font-family: $me-js-container-font-family;
	position: $me-js-container-position;
	text-align: $me-js-container-text-align;
	text-indent: $me-js-container-text-indent;
	vertical-align: $me-js-container-vertical-align;
	border-radius: $me-js-container-border-radius;
}

.mejs__controls:not([style*="display: none"]) {
	background: $me-js-controls-background-webkit;
	background: $me-js-controls-background;
	border-radius: $me-js-controls-border-radius;
}

.mejs-controls {
	.mejs-button {
		button {
			cursor: pointer;
			display: block;
			position: absolute;
			text-indent: -9999px;
		}	
	} 
}

.mejs__play > {
	button {
		background: transparent url("/audio-player/images/Light-Play.svg") no-repeat;
		background-position: center;
		background-size: initial;
	}
}

.mejs__pause > {
	button {
		background: transparent url("/audio-player/images/Light-Pause.svg") no-repeat;
		background-position: center;
		background-size: initial;
	}
}

.mejs-skip-back-button >, .mejs__skip-back-button > {
	button {
		background: transparent url("/audio-player/images/Light-Backward.svg");
		background-position: center;
		background-size: initial;
	}
}

.mejs-jump-forward-button > button,
.mejs__jump-forward-button > button {
	background: url("/audio-player/images/Light-Forward.svg") no-repeat;
	background-position: center;
	background-size: initial;
}

.mejs__mute > {
	button {
		background: transparent url("/audio-player/images/Light-Sound.svg") no-repeat;
		background-position: center;
		background-size: initial;	
	}
}

.mejs__unmute > {
	button {
		background: transparent url("/audio-player/images/Light-Mute.svg") no-repeat;
		background-position: center;
		background-size: initial;
	}
}

.mejs-controls {
	.mejs-unmute {
		button {
			background-position: 0 -12px;
		}
	}	
}

.mejs__time {
	color: rgb(255, 255, 255);
	font-weight: normal;
}

.player-header {
	background-color: $header-background-color;
	display: -webkit-box;
	display: $header-display;
	-webkit-box-pack: $header-webkit-box;
	justify-content: $header-justify-content;
	margin-bottom: $header-margin-bottom;
	background: $header-background-webkit;
	background: $header-background;
}

.single-player {
	.mejs-prepended-buttons {
		display: -webkit-box;
		display: flex;
	}

	.mejs-appended-buttons {
		display: -webkit-box;
		display: flex;
		-webkit-box-pack: space-evenly;
		justify-content: space-evenly;
	}
  
	.mejs__button > {
		button {
			width: 30px;
			height:30px;
			font-size: 10px;
		}
	}
  
	.mejs__speed-button > {
		button {
			width: 40px;
			font-size: 14px;
		}
	}
  
	.mejs__container {
		margin: 0px;
	}

	.mejs__controls {
		display: block;
	}

	.mejs__controls,
	.mejs__container {
		background: none !important;
	}

	.podcast {
		margin: 30px auto;
	}

	.mejs__horizontal-volume-slider {
		display: none !important;
	}
}

@media (prefers-color-scheme: light) {
	.single-player {
		.mejs__button > {
			button {
				color: $button-text-label-color;
			}
		}
		
		.mejs__time {
			color: $button-text-label-color;
			font-weight: normal;
		}
		
		.mejs__time-total {
			background: rgba(17, 16, 16, 0.4);
			margin: 5px 0 0;
			width: 100%;
		}
		
		.mejs__time-current {
			background: rgba(75, 72, 72, 0.4);
		}
		
		.mejs__play > button {
			background: $play-button-background;
		}
		
		.mejs__pause > button {
			background: transparent url("/audio-player/images/Dark-Pause.svg") no-repeat;
		}
		
		.mejs-skip-back-button >,
		.mejs__skip-back-button > {
			button {
				background: transparent url("/audio-player/images/Dark-Backward.svg");
			}
		}
		
		.mejs-jump-forward-button >,
		.mejs__jump-forward-button > {
			button {
				background: url("/audio-player/images/Dark-Forward.svg") no-repeat;
			}
		}
	
		.mejs__mute > {
			button {
				background: transparent url("/audio-player/images/Dark-Sound.svg") no-repeat;
			}
		}
	
		.mejs__unmute > {
			button {
				background: transparent url("/audio-player/images/Dark-Mute.svg") no-repeat;
			}
		}
	}
}

@media (max-width: 575.98px) {
	div.audio-player {
	  width: $div-audio-player-width-mobile;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	div.audio-player {
	  width: $div-audio-player-width-mobile;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	div.audio-player {
	  width: $div-audio-player-width-smaller;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	div.audio-player {
		width: $div-audio-player-width;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	div.audio-player {
		width: $div-audio-player-width-xl;
	}
}
