.player-container {
  margin: 30px;
  padding-bottom: 20pt;
}

.player {
  margin: 10pt;
  border-color: #9ccdeb;
  border-style: solid;
  border-width: thin;
}

.mejs__container {
  margin-top: 10px;
}
.mejs__controls {
  display: block;
}
.mejs__controls,
.mejs__container {
  background: none !important;
}
.mejs__time {
  color: #9ccdeb;
  font-weight: normal;
}

.podcast {
  background: #9ccdeb;
  padding: 30px;
  border-radius: 3px;
}
.podcast__episode_title {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
  color: #333;
}
.podcast__title {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 11px;
  color: #555;
}
.podcast__title i {
  font-style: normal;
  font-weight: normal;
  text-transform: capitalize;
  margin-left: 10px;
}
.podcast__meta {
  background: #2a2b3f;
  margin: 40px -30px -30px -30px;
  padding: 0 30px 30px 30px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.podcast__meta .artwork {
  margin-right: 0;
  -webkit-transform: translateY(-70px);
  transform: translateY(-70px);
}
.podcast__meta .artwork > img {
  border-radius: 3px;
  width: 150px;
  height: 150px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: -80px;
}

.mejs-prepended-buttons {
  display: -webkit-box;
  display: flex;
}

.mejs-appended-buttons {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: space-evenly;
  justify-content: space-evenly;
}

.mejs__play > button {
  background: transparent
    url("https://cdn.jsdelivr.net/gh/ivorpad/images-src/mediaplayer-sprite-gray.svg")
    no-repeat;
}

.mejs__pause > button {
  background: transparent
    url("https://cdn.jsdelivr.net/gh/ivorpad/images-src/mediaplayer-sprite-gray.svg")
    no-repeat;
  background-position: -20px 0;
}

.mejs__mute > button {
  background: transparent
    url("https://cdn.jsdelivr.net/gh/ivorpad/images-src/mediaplayer-sprite-gray.svg")
    no-repeat;
  background-position: -60px 0;
}

.mejs__unmute > button {
  background: transparent
    url("https://cdn.jsdelivr.net/gh/ivorpad/images-src/mediaplayer-sprite-gray.svg")
    no-repeat;
  background-position: -40px 0;
}

.mejs-skip-back-button > button,
.mejs__skip-back-button > button {
  background: transparent
    url("/audio-player/images/skipback.svg");
}

.mejs-jump-forward-button > button,
.mejs__jump-forward-button > button {
  background: url("/audio-player/images/jumpforward.svg")
    no-repeat;
}

.mejs__button > button {
  color: #9ccdeb;
}

.mejs__horizontal-volume-slider {
  display: none !important;
}
