<div class="row episode-row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3 show-art-large">
                <a href="{{ .Permalink }}">
                    <img src="{{ .Site.BaseURL }}images/Generic-Podcast-Art.svg">
                </a>
            </div>            
            <div class="col-md-8">
                <a href="{{ .Permalink }}">
                    <h4>{{ .Title }}</h4>
                </a>
                <p>{{ .Description }}</p>
				<div class="connect-list">
					<small>Hosts & Feedback:</small>
					{{ partial "peopleViews/smallPeopleList" . }}
					{{ partial "connect" . }}
				</div>
            </div>
        </div>
    </div>
</div>