{{ $scratch := newScratch }}
{{ $socialsMap := .CurrentSection.Param "connections" -}}
{{ $socialsParentMap := .CurrentSection.Parent.Param "connections" }}
{{ $socialsConfigMap := .Site.Params.connectionOptions }}

{{ $mapRegister := 0 }}
{{ if reflect.IsMap $socialsMap }}
{{ $mapRegister = add $mapRegister 1 }}
{{ end }}
{{ if reflect.IsMap $socialsParentMap }}
{{ $mapRegister = add $mapRegister 10 }}
{{ end }}
{{ if reflect.IsMap $socialsConfigMap }}
{{ $mapRegister = add $mapRegister 100 }}
{{ end }}

<p>Map Register: {{ $mapRegister }}</p>

{{ if eq $mapRegister 111 }}
{{ $scratch.Set "optionsMap" ( merge $socialsConfigMap ( merge $socialsParentMap $socialsMap )) }}
{{ else if eq $mapRegister 110 }}
{{ $scratch.Set "optionsMap" ( merge $socialsConfigMap $socialsParentMap ) }}
{{ else if eq $mapRegister 101 }}
{{ $scratch.Set "optionsMap" ( merge $socialsConfigMap $socialsMap ) }}
{{ else if eq $mapRegister 011 }}
{{ $scratch.Set "optionsMap" ( merge $socialsParentMap $socialsMap ) }}
{{ else if eq $mapRegister 100 }}
{{ $scratch.Set "optionsMap" $socialsConfigMap }}
{{ else if eq $mapRegister 010 }}
{{ $scratch.Set "optionsMap" $socialsParentMap }}
{{ else if eq $mapRegister 001 }}
{{ $scratch.Set "optionsMap" $socialsMap }}
{{ end }}

<p>Options Map: {{ $scratch.Get "optionsMap" }}</p>

{{ range $key, $val := $scratch.Get "optionsMap" }}
{{ with index $.Site.Data.socials $key }}
	<a href="{{ $val }}">
		<div class="connect-option">
			{{- .svg | safeHTML -}}
			<p>{{- .name -}}</p>
		</div>
	</a>
{{ end }}
{{- end -}}