{{- $this := . -}}
{{ $socialsMap := .Page.Param "connections" -}}
{{ $socialsParentMap := .CurrentSection.Parent.Page.Param "connections" }}
{{ $socialsConfigMap := .Site.Params.connections }}

{{ $socials := slice }}
{{ $socialsParent := slice }}
{{ $socialsConfig := slice }}

{{ $socials = $socials | append "Socials: "}}
{{ $socialsParent = $socialsParent | append "Socials Parent: "}}
{{ $socialsConfig = $socialsConfig | append "Socials Config: "}}

{{ range $a, $b := $socialsMap }}
{{ $socials = $socials | append $a " " $b }}
{{ end }}

{{ range $c, $d := $socialsParentMap }}
{{ $socialsParent = $socialsParent | append $c " " $d }}
{{ end }}

{{ range $e, $f := $socialsConfigMap }}
{{ $socialsConfig = $socialsConfig | append $e " " $f }}
{{ end }}

<p>{{ $socials }}</p>
<p>{{ $socialsParent }}</p>
<p>{{ $socialsConfig }}</p>

{{- $social := "" -}}
{{- if ne $social "" -}}
	<a href="{{ .url }}">
		<div class="connect-option">
			{{- .svg | safeHTML -}}
			<p>{{ .name }}</p>
		</div>
	</a>
{{- end -}}