<div class="listen-list">
	{{- $baseURL := .Site.BaseURL -}}
	{{- $this := . -}}
	<div>
		{{- with .Params.audioFile -}}
			<a title="Download Audio" href="{{ $this.Render "audio/audioURL" }}">
				<div class="listen-option iconic-list-item">
					<img src="{{ $baseURL }}images/listen-buttons/Download.svg" />
					<p>Download</p>
				</div>
			</a>
		{{- end -}}
		{{- with .CurrentSection.OutputFormats.Get "RSS" -}}
			<a title="Audio RSS Feed" href="{{ .RelPermalink }}">
				<div class="listen-option iconic-list-item">
					<img src="{{ $baseURL }}images/listen-buttons/RSS.svg" />
					<p>RSS</p>
				</div>
			</a>
		{{- end -}}
		{{ range sort .Site.Data.listenOptions "sortOrder" "asc" }}
			{{ if eq .urlStyle "iTunes" }}
				{{- if and (isset $this.CurrentSection.Params "itunesfeedid") (ne $this.CurrentSection.Params.iTunesFeedID "") -}}
					<a title="{{ .description }}" href="{{ .urlPrefix }}{{ $this.CurrentSection.Params.iTunesFeedID }}">
						<div class="listen-option iconic-list-item">
							<img src="{{ $baseURL }}images/listen-buttons/{{ .image }}" />
							<p>{{ .name }}</p>
						</div>
					</a>
				{{- else if and (isset $this.CurrentSection.Parent.Params "itunesfeedid") (ne $this.CurrentSection.Parent.Params.iTunesFeedID "") -}}
					<a title="{{ .description }}" href="{{ .urlPrefix }}{{ $this.CurrentSection.Parent.Params.iTunesFeedID }}">
						<div class="listen-option iconic-list-item">
							<img src="{{ $baseURL }}images/listen-buttons/{{ .image }}" />
							<p>{{ .name }}</p>
						</div>
					</a>
				{{- end -}}
			{{- else if eq .urlStyle "custom" -}}
				{{ .name }} - custom<br  />
			{{- else if eq .urlStyle "hybrid" -}}
				{{ .name }} - hybrid<br  />
			{{- end -}}
			
		{{ end }}
	</div>
</div>
