<div class="listen-list">
	{{- $baseURL := .Site.BaseURL -}}
	{{- $this := . -}}
	<div>
		{{- with .Params.audioFile -}}
			<a title="Download Audio" href="{{ $this.Render "audio/audioURL" }}">
				<div class="listen-option iconic-list-item">
					<img src="{{ $baseURL }}images/listen-buttons/Download.svg" />
					<p>Download</p>
				</div>
			</a>
		{{- end -}}
		{{- with .CurrentSection.OutputFormats.Get "RSS" -}}
			<a title="Audio RSS Feed" href="{{ .RelPermalink }}">
				<div class="listen-option iconic-list-item">
					<img src="{{ $baseURL }}images/listen-buttons/RSS.svg" />
					<p>RSS</p>
				</div>
			</a>
		{{- end -}}
		{{ range sort .Site.Data.listenOptions "sortOrder" "asc" }}
			<a title="{{ .description }}">
				<div class="listen-option iconic-list-item">
					<img src="{{ $baseURL }}images/listen-buttons/{{ .image }}" />
					<p>{{ .name }}</p>
				</div>
			</a>
		{{ end }}
	</div>
</div>
