{{ $currentAnnouncements := where .Site.RegularPages.ByDate.Reverse "Params.announcementDateStart" "lt" now }}
{{ $currentAnnouncements := $currentAnnouncements | intersect (where .Site.RegularPages.ByDate.Reverse "Params.announcementDateEnd" "gt" now) }}
{{ if gt (len $currentAnnouncements) 0 }}
	<div class="row episode row">
		<div class="col-md-12">
			<h4><a href="{{ "/blog" | absURL }}">ANNOUNCEMENTS!!</a></h4>
			<ul>
			{{ range $currentAnnouncements }}
				{{- .Render "views/homepageAnnouncementsViews" -}}
			{{ end }}
			</ul>
		</div>
	</div>
{{ end }}