<div class="row episode-row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-5 show-art-large">
				<a href="{{ .Permalink }}">
					<img
						alt="{{ partial "peopleViews/listItems/displayName" . }}"
						src="{{ partial "peopleViews/imageURL" . }}"
						class="img-fluid"
					/>
				</a>
			</div>
			<div class="col-md-6">
				<a href="{{ .Permalink }}">
					<h2>{{ partial "peopleViews/listItems/displayName" . }}</h2>
				</a>
				<p>{{ .Content }}</p>
			</div>
		</div>
	</div>
</div>
