{{- $lunr := resources.Get "js/lunr.js" -}}
{{- $lunrJS := $lunr | resources.Minify | resources.Fingerprint -}}
<script type="text/javascript" src="{{ $lunrJS.RelPermalink }}" integrity="{{ $lunrJS.Data.Integrity }}"></script>
{{- $search := resources.Get "js/search.js" -}}
{{- $searchJS := $search | resources.Minify | resources.Fingerprint -}}
<script type="text/javascript" src="{{ $searchJS.RelPermalink }}" integrity="{{ $searchJS.Data.Integrity }}"></script>

<div>
  <input id="search-input" type="text" placeholder="Commander, tear this ship apart until you've found those plans! " name="search-input" class="form-control">
</div>
<div id="search-results" class="container"></div>