<div class="row episode-row player-header">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-5 show-art-large">
                <a href="{{ .Permalink }}">
                    <img src="{{ .Site.BaseURL }}images/Generic-Podcast-Art.svg">
                </a>
            </div>
            <div class="col-md-6">
                <div>
                    {{ if ne .CurrentSection.Parent.Title .Site.Title }}
                    <a href="{{ .CurrentSection.Parent.Permalink }}">
                        {{ .CurrentSection.Parent.Title }}
                    </a> >
                    {{ end }}
                    <a href="{{ .CurrentSection.Permalink }}">
                        {{ .CurrentSection.Title }}
                    </a>
                </div>
                <a href="{{ .Permalink }}">
                    <h2>{{ .Title }}</h2>
                </a>
                {{ .Render "listItems/components/publishView" }}  
                {{ .Render "audio/player-single" }}
                {{ .Render "views/headerPeopleList" }}     
            </div>
        </div>
        
    </div>
</div>